@use '@angular/material' as mat;

html {
  color-scheme: dark;
  @include mat.theme((
    color: (
      primary: mat.$violet-palette,
      theme-type: dark,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  margin: 0;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
}
