<div
  class="pokemon"
  [class.pokemon--selected]="selected()"
  [class.pokemon--draggable]="draggable()"
  [class.pokemon--normal]="type() === 'normal'"
  [class.pokemon--water]="type() === 'water'"
  [class.pokemon--fire]="type() === 'fire'"
  [class.pokemon--grass]="type() === 'grass'"
  [class.pokemon--player-1]="playerId() === 1"
  [class.pokemon--player-2]="playerId() === 2"
  [style.left]="positionLeft()"
  [style.top]="positionTop()"
  (click)="onClick()"
>
  <img 
    class="pokemon-image" 
    [src]="imageUrl()" 
    [alt]="name()"
    loading="lazy"
  />
  <span class="pokemon-movement">{{ movement() }}</span>
</div>
